<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="firstNameOne" value="Teddy" />
    <parameter name="secondNameOne" value="Evtimova" />
    <parameter name="resultValueOne" value="100000" />
    <parameter name="firstNameTwo" value="Jenny" />
    <parameter name="secondNameTwo" value="Hill" />
    <parameter name="resultValueTwo" value="2000" />
    <test verbose="2" preserve-order="true" name="C:/Users/TeodoraEvtimova/IdeaProjects/RobotSpareBinDemoAutomation">
        <classes>
            <class name="Tests.LoginPageTests">
                <methods>
                    <include name="fillInLogin"/>
                    <include name="login"/>
                </methods>
            </class>
            <class name="Tests.HomePageTests">
                <methods>
                    <include name="verifyHomePage"/>
                    <include name="fillInFormFirstUser"/>
                    <include name="submitFirstUser"/>
                    <include name="verifyFirstUserFormResults"/>
                    <include name="verifyFirstUserResultMessage"/>
                    <include name="fillInFormSecondUser"/>
                    <include name="submitSecondUser"/>
                    <include name="verifySecondUserFormResults"/>
                    <include name="verifySecondUserResultMessage"/>
                    <include name="verifyTotalUsersResults"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>